<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Estatus anime</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissOnly()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-list style="background-color: transparent">
 
    <ion-item button color="medium" lines="none" (click)="dismiss(1)">
      <ion-icon name="play-outline" slot="start"></ion-icon>
      <ion-label>Viendo</ion-label>
    </ion-item>
    <ion-item button color="medium" lines="none" (click)="dismiss(2)">
      <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
      <ion-label>Visto</ion-label>
    </ion-item>
    <ion-item button color="medium" lines="none" (click)="dismiss(6)">
      <ion-label>Planeo ver</ion-label>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>