.videoHolder {
    background-color: var(--ion-color-dark-shade);
    height: 120px;
    background-position: center;
    background-size: cover;
}

.title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.synopsis{
    color: rgb(142, 142, 142);
}
