<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Episode</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pagina-anime/{{animeId}}"></ion-back-button>
      <!-- <ion-back-button defaultHref="/explora"></ion-back-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="medium">
  

  <!-- <Button is="google-cast-button">Cast</Button> -->

  <!-- <div (click)="requestCast()">
    ---
    <google-cast-launcher></google-cast-launcher>
    ---
  </div> -->
  <div class="video_box d-flex align-items-center justify-content-center">
    <ion-spinner color="light" *ngIf="loadingVideo"></ion-spinner>
    <vg-player id="player" *ngIf="!loadingVideo" (onPlayerReady)="onPlayerReady($event)">
      <vg-buffering></vg-buffering>
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>
      <vg-controls [vgAutohide]="true">
        <vg-play-pause></vg-play-pause>
        <!-- <vg-playback-button></vg-playback-button> -->
        <!-- <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display> -->
        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
        <vg-time-display vgFormat="mm:ss"></vg-time-display>
        <!-- <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display> -->
        <!-- <vg-track-selector></vg-track-selector> -->
        <vg-mute></vg-mute>
        <!-- <google-cast-launcher></google-cast-launcher> -->
        <!-- <vg-volume></vg-volume> -->
        <vg-fullscreen></vg-fullscreen>
      </vg-controls>
      <video autoplay [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" crossorigin>
        <source [src]="video" type="video/mp4">
      </video>
    </vg-player>

    <div *ngIf="back" style="width: 50%; height: 100%; position: absolute; left: 0px; pointer-events: none">
      <ion-icon name="play-back"></ion-icon>
    </div>
    <div *ngIf="forward" style=" width: 50%; height: 100%; position: absolute; right: 0px; pointer-events: none">
      <ion-icon name="play-forward"></ion-icon>
    </div>

  </div>
  <div class="p-2">
    seccion en contruccion
  </div>





</ion-content>