.video_box {
    position: relative;
    background-color: black;
    aspect-ratio: 16/9;
}

.icon-seek {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customButton {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: #fff;
    line-height: 50px;
}