/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
 @import '~swiper/scss';
 @import '~@ionic/angular/css/ionic-swiper';

 @import "~@ionic/angular/css/core.css";


/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.firebase-emulator-warning {
  display: none;

}

@mixin responsive-box($height){
    position: relative;
    &:before{
      content: '';
      display: block;
      padding-top: $height;
    }
  }
  .square{
    @include responsive-box(100%);
    
    color: #fff;
    background-size: cover;
  }
  
  .modalEpisodios{
    --backdrop-opacity: 0.8 !important;
  
    .modal-wrapper {
      --height: 40% !important;
      --width:80%;
      position: absolute;
    }
  }
  .modalStatus{
    --backdrop-opacity: 0.8 !important;
  
    .modal-wrapper {
      --height: 40% !important;
      --width:80%;
      position: absolute;
    }
  }
  .loading {
    width: 100vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  //TEXTS
//FONTS SIZE
.f-10 {
  font-size: 10px!important;
  line-height: 12px!important;
}
.f-12 {
  font-size: 12px!important;
  line-height: 14px!important;
}
.f-13 {
  font-size: 13px!important;
  line-height: 16px!important;
}
.f-15 {
  font-size: 15px!important;
  line-height: 18px!important;
}
.f-17 {
  font-size: 17px!important;
  line-height: 20px!important;
}
.f-20 {
  font-size: 20px!important;
  line-height: 22px!important;
}
.bold {
  font-weight: bold!important;
}

ion-card{
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.line-clamp-2{
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-5{
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}