<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Anime</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)='goBack()'>
        <ion-icon slot="icon-only" name="arrow-back-outline" ></ion-icon>
      </ion-button>
      <!-- <ion-back-button defaultHref="/explora"></ion-back-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid *ngIf="loading" >
    <ion-row class="loading">
      <ion-spinner name="crescent" color="primary"></ion-spinner>

    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!loading">
    <ion-row>
      <ion-col size="auto">
        <ion-card class="imgAnimeTop m-0" [ngStyle]="{'background-image': 'url('+ anime.image_url +')'}">

        </ion-card>
      </ion-col>
      <ion-col>
        <p style="line-height: normal;">
          <ion-text class="tituloAnime">
            {{anime.title}}
          </ion-text><br>
          <ion-text class="tituloAnimeJp">
            {{anime.title_japanese}}
          </ion-text>
        </p>
      </ion-col>

    </ion-row>
    <ion-row>   
      <ion-col>
        <ion-button fill="clear" class="w-100" color=light *ngIf="miInfoAnime.watching_status==1"
          (click)="seleccionarStatusModal()">
          <div>
            <ion-icon name="play-outline" size="small"></ion-icon><br>
            <ion-text style="font-size:10px" class="textoBotonCinta">Viendo</ion-text>
          </div>
        </ion-button>
        <ion-button fill="clear" class="w-100" color=light *ngIf="miInfoAnime.watching_status==2"
          (click)="seleccionarStatusModal()">
          <div>
            <ion-icon name="checkmark-done-outline" size="small"></ion-icon><br>
            <ion-text style="font-size:10px" class="textoBotonCinta">Visto</ion-text>
          </div>
        </ion-button>
        <ion-button fill="clear" class="w-100" color=light *ngIf="miInfoAnime.watching_status==6"
          (click)="seleccionarStatusModal()">
          <div>
            <ion-icon name="calendar-outline" size="small"></ion-icon><br>
            <ion-text *ngIf="miInfoAnime.watching_status==6" style="font-size:10px" class="textoBotonCinta">Planeo ver
            </ion-text>
          </div>
        </ion-button>
        <ion-button *ngIf="miInfoAnime==''" fill="clear" class="w-100" color=light (click)="seleccionarStatusModal()">
          <div>
            <ion-icon name="add-outline" size="small"></ion-icon><br>
            <ion-text style="font-size:10px" class="textoBotonCinta">Añadir a lista</ion-text>
          </div>
        </ion-button>
      </ion-col>
      <!-- Episodios vistos -->
      <ion-col *ngIf="miInfoAnime != ''">
        <ion-button fill="clear" class="w-100" color=light (click)="selecionarVistos()">
          <div class="">
            <ion-icon name="eye-outline" size="small"></ion-icon><br>
            <ion-text style="font-size:10px" class="textoBotonCinta">{{miInfoAnime.watched_episodes ||
              0}}/{{anime.episodes || '?'}}</ion-text>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="w-100 d-flex">
        <ion-button expand="block" class="w-75 pr-1" (click)="ver()">
          Ver en {{servidores[servidorActivo].name}}
        </ion-button>
        <ion-button expand="block" class="w-25 pr-1" (click)="presentActionSheet()">
          <ion-icon name="caret-down-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="w-100 d-flex" *ngIf="miInfoAnime != ''">
        <ion-button [disabled]="this.miInfoAnime.watched_episodes < 1" (click)="addDeleteEpisode(-1)" expand="block" color="danger" class="w-25">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="anime.episodes!=null" [disabled]="this.miInfoAnime.watched_episodes >= anime.episodes" (click)="addDeleteEpisode(+1)" expand="block" color="success" class="w-25 px-1">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="anime.episodes==null" (click)="addDeleteEpisode(+1)" expand="block" color="success" class="w-25 px-1">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="actualizar()" [disabled]="snapshotMiInfoAnime==miInfoAnime || actualizando" expand="block" fill="outline" class="w-50">
          <ion-text *ngIf="!actualizando">
            Actualizar
          </ion-text> 
          <ion-spinner *ngIf="actualizando" name="dots"></ion-spinner>

        </ion-button>

      </div>
      <!-- <ion-button class="w-auto">
        +1
      </ion-button>
      <ion-button fill="outline" class="w-auto">
        Actualizar MyAnimeList
      </ion-button> -->
    </ion-row>
    <ion-row>
      <!-- <ion-col *ngFor="episodio of episodios">
        video
      </ion-col> -->
    </ion-row>
    <ion-row class="">
      <ion-col size="12">
        <ion-card class="m-0" color="medium">
          <ion-card-title class="px-3 pt-3">
            Sinopsis
          </ion-card-title>
          <ion-card-content>
            {{anime.synopsis}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="m-0 " color="medium">
          <ion-card-title class="px-3 pt-3">
            Personajes
          </ion-card-title>
          <ion-card-content>
            <ion-slides [options]="slideOpts" class="pb-1">
              <ion-slide *ngFor="let character of characters" [routerLink]="['/pagina-anime',anime.mal_id]">
                <ion-card class="p-0 m-0 w-100" color="translucent">
                  <div class="img" [ngStyle]="{'background-image': 'url('+ character.image_url +')'}"></div>
                  <ion-card-content style="padding: 5px;">
                    <!-- <ion-card-subtitle>{{anime.type}}</ion-card-subtitle> -->
                    <div class="nombrePersonaje">{{character.name}}</div>
                    <!-- <div style="">
                      Rank: {{anime.rank}} <br>
                      Fecha de inicio: {{anime.start_date}}
                    </div> -->
                  </ion-card-content>
                </ion-card>
              </ion-slide>
            </ion-slides>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>



  </ion-grid>
</ion-content>