<ion-card routerLink="{{id}}" color="medium" button class="m-0">
  <ion-row>
    <ion-col size="4" class="videoHolder square m-0 d-flex justify-content-center text-center align-items-center">
      
    </ion-col>
    <ion-col size="8">
      E{{id}} 
    </ion-col>
  </ion-row>
  <!-- <div class="frame_episode d-flex justify-content-center text-center align-items-center">
    EPISODIO {{id}}
  </div> -->
</ion-card>

<!-- 
  Opcion 1
  Cargar desde el servidor el link de nozomi
  Opcion 2
  cargar desde el servidor el link de Xtreme S
  opcion 3
  cargar iframe de Xtreme S
 -->