<ion-card routerLink="{{id}}" color="medium" button class="m-0">
  <ion-row>
    <ion-col size="4" class="videoHolder square m-0 d-flex justify-content-center text-center align-items-center"
      [ngStyle]="{ 'background-image' : 'url('+animeData.images.jpg.image_url+')' }">
      <div class="play_icon d-flex justify-content-center align-items-center">
        <ion-icon style="margin: 1px 0 0 4px; transform: scale(1.3);" name="play" color="light"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8" class=" p-2">
      <div class="title f-13">
        <ion-text class="bold">E{{id}}</ion-text>
        <ion-text *ngIf="episodeData.title" > - {{episodeData.title}}</ion-text>
      </div>
      <div class="synopsis f-12">
        <div class="line-clamp-2">
          {{episodeData.synopsis}}
        </div>
      </div>
    </ion-col>
  </ion-row>
  <!-- <div class="frame_episode d-flex justify-content-center text-center align-items-center">
    EPISODIO {{id}}
  </div> -->
  <ion-progress-bar *ngIf="viewedPercentage > 0" [value]="viewedPercentage" color="primary"></ion-progress-bar>

</ion-card>

<!-- 
  Opcion 1
  Cargar desde el servidor el link de nozomi
  Opcion 2
  cargar desde el servidor el link de Xtreme S
  opcion 3
  cargar iframe de Xtreme S
 -->