<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Top anime
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/search">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-grid *ngIf="loading">
    <ion-row class="loading">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </ion-row>
  </ion-grid>


  <ion-grid class="" *ngIf="!loading">
    <ion-card class="m-1 p-2 mb-2" color="medium">
      <div class="pb-1">
        <ion-text> <strong> Animes de temporada </strong> </ion-text>
      </div>
      <swiper [config]="slideOpts">
        <ng-template swiperSlide *ngFor="let anime of season">
          <div class="p-0 m-0 w-100 no-shadow" color="translucent" [routerLink]="['/pagina-anime',anime.objectID]"
            [queryParams]="{title: anime.title}">
            <div class="img ">
              <img [src]="anime.images.jpg.image_url" style="height: 100%; object-fit: cover;">
            </div>
            <div class="px-1 pt-1 pb-0">
              <div class="tituloAnime">{{anime.title}}</div>
              <div class="text-left pt-1 d-flex align-items-center">
                <ion-icon name="star"></ion-icon>
                <ion-text class="pt-1 pl-1" style="font-size: 11px;"> {{anime.score}}</ion-text>
              </div>
            </div>
          </div>
        </ng-template>
      </swiper>
    </ion-card>
  </ion-grid>
  <ion-grid *ngIf="loading">
    <ion-row>
      <ion-col size="12" class="pb-0">
        <ion-skeleton-text [animated]="true" style="height:30px"></ion-skeleton-text>
      </ion-col>
      <ion-col size="4" class="pt-0">
        <div class="img">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </div>
        <ion-skeleton-text [animated]="true" style="height:30px"></ion-skeleton-text>

      </ion-col>
      <ion-col size="4" class="pt-0">
        <div class="img">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </div>
        <ion-skeleton-text [animated]="true" style="height:30px"></ion-skeleton-text>

      </ion-col>
      <ion-col size="4" class="pt-0">
        <div class="img">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </div>
        <ion-skeleton-text [animated]="true" style="height:30px"></ion-skeleton-text>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>