.img{
    height: 160px;
    background-size: cover;
    background-position:center;
}
.tituloAnime{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    height: 25px;
    overflow: hidden;
    text-align: left;
}
.tipoAnime{
    font-size: 10px;
    font-weight: 600;
    text-align: left;
}