<div class="animeBox">
  <div class="p-0 m-0 w-100 no-shadow" color="translucent" [routerLink]="['/pagina-anime',anime.objectID]"
    [queryParams]="{title: anime.title}">
    <div class="img w-100" [ngStyle]="{'background-image': 'url('+ anime.images.jpg.image_url +')'}">
      <!-- <img [src]="anime.images.jpg.image_url" style="height: 100%; object-fit: cover;"> -->
    </div>
    <div class="p-2 content-animeBox">
      <div class="tituloAnime line-clamp-2">{{anime.title}}</div>
      <div class="text-left pt-1 d-flex align-items-center">
        <ion-icon name="star"></ion-icon>
        <ion-text class="pt-1 pl-1" style="font-size: 11px;"> {{anime.score}}</ion-text>
      </div>
    </div>
  </div>
</div>