.imgAnimeTop{
    aspect-ratio: 9/13;

    width: 100%;
    background-size: cover;
    background-position:center;
   
}
.tituloAnime{
    font-size: 17px;
    font-weight: 400;
    line-height: 1px;
    
}
.tituloAnimeJp{
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    color: rgb(203, 203, 203);
}
#iframe1{
    -webkit-overflow-scrolling: touch !important;
overflow: scroll !important;
}
.img{
    height: 160px;
    background-size: cover;
    background-position:center;
}
.catChip{
    // flex: 1;
    background-color: var(--ion-color-primary);
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--ion-color-dark);
    font-size: 10px;
    font-weight: 600;
    width: fit-content;
    margin-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: inline-flex;
    // margin: 0px;
}
.nombrePersonaje{
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    height: 25px;
    overflow: hidden;
    text-align: left;
}
.w-20{
    width: 20%!important;
}
.icon-fav-on{
    padding: 10px!important; 
}
.icon-fav-off{
    padding: 10px!important; 
    filter: brightness(6);

}