<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Anime</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>

      <!-- <ion-back-button defaultHref="/explora"></ion-back-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid *ngIf="loading">
    <ion-row class="loading">
      <ion-spinner name="crescent" color="primary"></ion-spinner>

    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!loading">
    <!-- -----
    <div style="height: 100px">
      <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-1815418277361172"
      data-ad-slot="5730930137"
      data-ad-format="auto"
      data-full-width-responsive="true">
      </ins>
    </div>
    ----- -->
    <ion-row>

      <ion-col size="4">
        <ion-card class="imgAnimeTop m-0 imf-fluid w-100" [ngStyle]="{'background-image': 'url('+ animeData.images.jpg.image_url +')'}">

        </ion-card>
      </ion-col>
      <ion-col size="8">
        <p style="line-height: normal;" class="mb-0">
          <ion-text class="tituloAnime">
            {{animeData.title}}
          </ion-text><br>    
        </p>
   
        
        <p class="mb-0">
          <ion-text class="tituloAnimeJp">
            {{animeData.title_japanese}}
          </ion-text>
        </p>


          <div class="catChip" *ngFor="let cat of animeData.categories">
            {{cat}}
          </div>

      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="12">
        EPISODIOS
      </ion-col>
      <ion-col size="12" *ngFor="let ep of animeData.scrapedEpisodes.sub_esp; let i = index">
        <app-video-item [id]="i+1" [episodeData]="ep" [animeData]="animeData" [viewedPercentage]="ep.viewedPercentage">
        </app-video-item>
      </ion-col>
      
    </ion-row>
    <ion-row>
    </ion-row>
    <ion-row class="">
      <ion-col size="12">
        <ion-card class="m-0" color="medium">
          <ion-card-title class="px-3 pt-3">
            Sinopsis
          </ion-card-title>
          <ion-card-content>
            {{animeData.synopsis}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="m-0 " color="medium">
          <ion-card-title class="px-3 pt-3">
            Personajes
          </ion-card-title>
          <ion-card-content>
            <ion-slides [options]="slideOpts" class="pb-1">
              <ion-slide *ngFor="let character of characters" [routerLink]="['/pagina-anime',animeData.mal_id]">
                <ion-card class="p-0 m-0 w-100" color="translucent">
                  <div class="img"
                    [ngStyle]="{'background-image': 'url('+ character.character.images.jpg.image_url +')'}"></div>
                  <ion-card-content style="padding: 5px;">
                    <!-- <ion-card-subtitle>{{anime.type}}</ion-card-subtitle> -->
                    <div class="nombrePersonaje">{{character.character.name}}</div>
                    <!-- <div style="">
                      Rank: {{anime.rank}} <br>
                      Fecha de inicio: {{anime.start_date}}
                    </div> -->
                  </ion-card-content>
                </ion-card>
              </ion-slide>
            </ion-slides>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!loading">
  <ion-fab-button (click)="toggleFav()" [color]="isFav ? 'warning' : 'dark'">
    <img *ngIf="!loadingUpdateFav && !isFav" class="icon-fav-off" src="/assets/icons/star.svg" alt="">
    <img *ngIf="!loadingUpdateFav && isFav" class="icon-fav-on" src="/assets/icons/check_star.svg" alt="">
    <ion-spinner *ngIf="loadingUpdateFav"></ion-spinner>
  </ion-fab-button>
</ion-fab>